/* PHASE 4: Footer */
footer {
  margin: 0 auto;
  width: 858px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #fff;
  position: relative;
  color: #ccc;
  font-size: 14px;
  padding: 20px;
}

footer p {
  float: left;
}

footer ul {
  float: right;
}

footer ul > li {
  float: left;
}

footer a {
  padding: 0 0 0 20px;
  display: block;
}

footer a:hover {
  color: #000;
}
