/* PHASE 6: Sidebar */
.profile-picture a {
  border: 1px #000 solid;
  border-radius: 5px;
  display: block;
  box-shadow: 10px 10px 20px rgba(0,0,0, .3);
  position: relative;
  margin-top: -120px;
  overflow: hidden;
}

.profile-info h4{
  font-size: 24px;
  font-weight: 700;
}
.profile-nav .profile-nav-links li {
  font-weight: 700;
  border-top: 1px solid #ccc;
  padding: 5px 0;
}

.profile-nav-links {
  padding-top: 20px;
  border-bottom: 1px solid #ccc;
}

.profile-nav .profile-nav-links li:hover {
  background: #eee;
}
.thumb {
  display: block;
  position: relative;
}
.thumb:hover:before {
  content: "";
  content: attr(title);
  color: #fff;
  background: #000;
  border-radius: 5px;
  position: absolute;
  font-size: 12px;
  padding: 5px;
  transform: translate(-50%, -35px);
  left: 50%;
}

.thumb:after {
  /*content: attr(title);*/

}
