<h1>NEW SUB:</h1>
<form action="/subs" method="post">
  <input
     type="hidden"
     name="authenticity_token"
     value="<%= form_authenticity_token %>">
  <input type="hidden" name="sub[moderator_id]" value=" <%=current_user.id%> ">
<label>Title:</label>
<br>
<input type="text" name="sub[title]" value="">
<br>
<label>Description:</label>
<br>
<textarea name="sub[description]" rows="10" cols="30"></textarea>
<br>
<br>
<input type="submit" value="submit!">
</form>
