/* PHASE 1: Header */
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  background: #eee;
}

.header {
  color: #fff;
  background: #f00;
  border-bottom: 1px solid #eee;
  z-index: 1;
  position: relative;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
}

.header-logo {
  float: left;
  font-weight: bold;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

}
.header-list {
  float: right;
  border-right: 1px solid #ccc;

}

.header-list > li {
  border-left: 1px solid #ccc;
  float: left;
  position: relative;
}

.header-list > li:hover {
  background: #000;
}

.header a {
  padding: 10px 20px;
  display: block;
}
